<a href='/'>Back</a>
<h1>Courses</h1>
<table>
  <thead>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Course Length</th>
  </thead>
  <tbody>
    <% courses.forEach( function(course) { %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td>$<%= course.price %></td>
        <td><%= course.course_length %></td>
      </tr>
    <% }) %>
</table>
